{% extends 'base.html.twig' %}
{% block body %}
<!-- Portfolio Grid-->
<section class="page-section mt-5" >
    <div class="container mt-5">
        <div class=" d-flex justify-content-center flex-wrap" style="margin-top: 145px; margin-bottom: 145px;">
            <div class="col-lg-6 col-md-12 my-5 d-flex flex-column justify-content-center align-center text-center">
                <a href="tel:+33627753184">
                    <button class="btn btn-link rounded-pill btn-lg">
                        <i class="fas fa-phone-alt"></i> +(33)627753184
                    </button>
                </a> 
                <a href="mailto:caroline.randu@pink-organisation.com">
                    <button class="btn btn-link rounded-pill btn-lg">
                        <i class="fas fa-at"></i> caroline.randu@pink-organisation.com
                    </button>
                </a>
                <a target="_blank" href="https://www.google.fr/maps/place/220+Avenue+de+Fabron,+06200+Nice/@43.6905727,7.2148809,17z/data=!3m1!4b1!4m5!3m4!1s0x12cdd1b3d963ed5f:0x78623adefdd8ab78!8m2!3d43.6905688!4d7.2170696">
                    <button class="btn btn-link rounded-pill btn-lg">
                        <i class="fas fa-at"></i> 220 avenue de Fabron 06200 Nice
                    </button>
                </a>
            </div>
           
                
        </div>
    </div>
</section>
{% endblock %}