{% extends 'base.html.twig' %}
{% block body %}
<!-- Portfolio Grid-->
<section class="page-section mt-5" >
    <div class="container mt-5">
        <div class=" d-flex justify-content-center flex-wrap" style="margin-top: 145px; margin-bottom: 145px;">
            <div class="col-lg-6 col-md-12 my-5 d-flex justify-content-center">
                <a href="tel:+33663601921">
                    <button class="btn btn-link rounded-pill btn-lg">
                        <i class="fas fa-phone-alt"></i> +(33)663601921
                    </button>
                </a>    
            </div>
            <div class="col-lg-6 col-md-12 my-5 d-flex justify-content-center">
                <a href="mailto:caroline.randu@pink-organisation.com">
                    <button class="btn btn-link rounded-pill btn-lg">
                        <i class="fas fa-at"></i> caroline.randu@pink-organisation.com
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}